<div class="container-fluid">
    <div class="about-container">
        <div class="about-paragraph">
            <h4 class="about-h4">The Monsters Inc team</h5>
            <h1 class="about-h1">We are a team of new software developers</h1>
            <h3 class="about-h3">We produced this web app as a learning project in just two weeks. We used NodeJS, ExpressJS, MongoDB, Mongoose,
            Cypress, Handlebars and Bootstrap.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03P8TU3FJT-2fff4b100a45-512" alt="Guille">
            <div class="container-names"><a href="https://github.com/GuillerminaLorenzo" target="_blank"> Guillermina Lorenzo</a></div>
        </div> 
        <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03P8TWJ3ST-bc7012d849c4-512" alt="James">
            <div class="container-names"><a href="https://github.com/iniffur" target="_blank">James Ruffini</a></div>
        </div>
        <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03PVFGRR51-82c9c38e202b-512" alt="Jonas">
            <div class="container-names"><a href="https://github.com/jonas-diete" target="_blank">Jonas Diete</a></div>
        </div>
    </div>
     <div class="row second-row">
         <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03PLJCBUH3-6c6e9628a50d-512" alt="Lio">
            <div class="container-names"><a href="https://github.com/liovirgildam" target="_blank">Liovirgilda Mendonca</a></div>
        </div>
        
        <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03Q21F3V99-3278a7a51383-512" alt="Millie">
            <div class="container-names"> <a href="https://github.com/MillieKS" target="_blank">Millennia Severino</a></div>
        </div>
        <div class="col-sm-4">
            <img class="about-img" src="https://ca.slack-edge.com/T03ALA7H4-U03PLJC7NJH-bc2b1d82925d-512" alt="Thomas">
            <div class="container-names"><a href="https://github.com/TomMannion" target="_blank"> Thomas Mannion</a></div>
        </div>
    </div>
</div>
