@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
}

body {
  font: 20px "Nunito", sans-serif;
  background-color: #e6eeef;
}

main {
  padding: 50px;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: 700;
}

.center {
  width: 400px;
  margin: 0 auto;
}

#like-button {
  width: 20px;
  height:18px;
  background-image: url("../images/like_heart_purple.png");
  background-size: 20px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-position: center;
}

.navbar_forms {
    float:left;
}

.profile_picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.friend-profile_picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid;
  border-color: rgb(150, 38, 160);
}

nav, footer {
  color: white;
  background-image: url("../images/monsters_inc_background.png");
}

nav {
  height: 70px;
  font-size: 20px;
  letter-spacing: 2px;
}

nav a {
  margin: auto 20px;
  color: white;
}

.nav-image {
  width: 50px;
  height: 50px;
}

footer {
  height: 40px;
  font-size: 16px;
}

.footer-items a, nav a:hover {
  color: rgb(72, 218, 255)
}

.footer-items a:hover {
  color: rgb(245, 132, 255)
}

.footer-items {
  padding: 10px 0 0 0;
}

/* Posts main page */

#new-post-form {
  background-color: rgb(150, 38, 160);
  border: 3px solid rgb(236, 122, 247);
  border-radius: 10px;
  color: white;
  margin: 20px auto;
  padding: 15px 20px;
  font-size: 25px;
}

#image-selector::file-selector-button {
  background-color: rgb(236, 122, 247);
  border: 3px solid rgb(150, 38, 160);
  border-radius: 30px;
  font-size: 20px;
}

.pink-button {
  background-color: rgb(236, 122, 247);
  border: 3px solid rgb(150, 38, 160);
  border-radius: 30px;
  font-size: 20px;
}

.pink-button:hover {
  background-color: rgb(150, 38, 160);
  border: 3px solid rgb(236, 122, 247);
  color: white;
}

#image-selector::file-selector-button:hover, #image-selector::file-selector-button:active {
  background-color: rgb(94, 21, 101);
  border: 3px solid rgb(236, 122, 247);
  color: white;
}

#message-container {
  text-align: center;
  margin: 12px auto;
}

#new-post-form input[type=text] {
  background-color:  #CEDDDF;
  border: 3px solid #6e999f;
  border-radius: 10px;
  font-size: 20px;
}

#new-post-form input[type=text]:focus {
  outline: none;
  border: 3px solid rgb(236, 122, 247);
} 

#new-post-form input[type=submit] {
  background-color: rgb(236, 122, 247);
  border: 3px solid rgb(150, 38, 160);
  border-radius: 10px;
  font-size: 20px;
  width: 225.5px;
}

#new-post-form input[type=submit]:hover, #new-post-form input[type=submit]:active {
  background-color: rgb(94, 21, 101);
  border: 3px solid rgb(236, 122, 247);
  color: white;
  width: 249.5px;
}

.posts {
  margin: 0;
  padding: 0;
  
}

.post {
  background-color: white;
  color:#054d5b;
  margin: 10px auto;
  padding: 0 0 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #b6cccf, 0 -1px 20px 0 #b6cccf;
}

.post-header {
  background-color:white;
  padding: 0px 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.postImage {
  width: 100%;
}

.post-message {
  padding: 15px 35px;
}

#new-comment-form input[type=text] {
  background-color: #b9c6c8;
  border: 3px solid #6e999f;
  font-style: italic;
  border-radius: 10px;
  font-size: 16px;
  padding: 3px 12px;
  margin: 5px 15px;
}

#new-comment-form input[type=text]:focus {
  outline: none;
  border: 3px solid #6e999f;
}

#new-comment-form input[type=submit] {
  background-color: rgb(236, 122, 247);
  font-size: 16px;
  padding: 3px 12px;
  border: 3px solid rgb(150, 38, 160);
  border-radius: 10px;
  margin: 0;
}

#new-comment-form input[type=submit]:hover, #new-comment-form input[type=submit]:active {
  background-color: rgb(150, 38, 160); 
  border: 3px solid rgb(236, 122, 247);
  color: white;
}

.comment {
  color:#054d5b;
  font-size: 16px;
  font-style: italic;
}

/* LOGIN/New Session and SIGNUP/New User forms */

#error {
  color: rgb(236, 122, 247);
}

#new-session-form input, #new-user-form input {
  background-color:  #CEDDDF;
  border: 3px solid #6e999f;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 12px;
  margin-bottom: 10px;
  width: 100%;
}

#new-session-form input:focus, #new-user-form input:focus {
  outline: none;
  border: 3px solid rgb(236, 122, 247);
}

#new-session-form input[type=submit], #new-user-form input[type=submit] {
  background-color: rgb(236, 122, 247);
  border: 3px solid rgb(150, 38, 160);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 22px;
  
}

#new-session-form input[type=submit]:hover, #new-session-form input[type=submit]:active, #new-user-form input[type=submit]:hover, #new-user-form input[type=submit]:active {
  background-color: rgb(94, 21, 101);
  border: 3px solid rgb(236, 122, 247);
  color: white;
}

.homepage-center{
  margin-top:10%;
}

.h1-align-right{
  text-align: right;
}

.login-box{
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #b6cccf, 0 -1px 20px 0 #b6cccf;
  text-align: center;
}

.form-login {
  text-align: center;
  margin: 0 auto;
}
form#new-session-form{
  width:100%;

}

.home-paragraph{
  padding:10px 25px;
  color: #0E5660;
}

.h1-homepage{
  font-weight: 700;
  color:rgb(94, 21, 101);

}

input#message{
  border: 3px solid #6e999f;
}



form#new-comment-form{
  text-align: center;
}

hr.post-hr{
  margin: 0;
}

#delete-button-post{
  width:30px;
  height:30px;
  border-radius: 50%;
}

#delete-button-comment{
  width:20px;
  height:20px;
  border-radius: 50%;
}


.form-post-image{
  margin: 0 auto;
}

.about-h1{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;

}

.about-h3{
  font-weight: 200;
  text-align: center;
  padding-top: 30px ;
  padding-bottom: 50px ;
  color: #5b5b5b;
}

.about-container{
  width:80%;
  margin: 0 auto;
}

.about-h4{
  color:#0E5660;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;
  padding: 25px 0;
}

.about-img{
  width: 100%;
  
}
.container-names{
  width: 100%;
  height:20%;
  background-color: white;
  text-align: center;
  padding-top: 30px;

}

.second-row{
  padding-top: 100px;
}

@media (min-width:760px){
  

  
  .form-login {
    text-align: left;
  }

  input#message{
    width:450px;
  }

  input#input-post, #comment-submit{
    width:150px !important;
  }

  input#image-selector{
    /* width: 700px;
    padding: 0 20%; */
  }

  div.post{
    width:700px;
  }

  .post-comment {
    width: 657px;
    padding-top: 5px;
}

#new-post-form{
  width:700px;
}

.post-comment{
  width:657px;
  padding-top:5px;
}

.comment{
  margin: 5px 50px;
}

#image-selector::file-selector-button {
  /* padding: 3px 22px;
  margin: 5px 10px 5px 15px; */
}
}

@media (min-width:920px){
  
  .form-login {
    width: 30%;
  }
}

/* ACCOUNT PAGE */

#image-selector {
  font-size: 0pt;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
  font-size: 2.25rem;
  color: #a8d5fa;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #cdd5e4;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.bg-overlay-thing {
  background: linear-gradient(rgba(255, 255, 255, 0.554), rgba(255, 255, 255, 0.554)),  url("../images/account-page-bg.png");
}

.card {
  /* background: linear-gradient(rgba(255, 255, 255, 0.554), rgba(255, 255, 255, 0.554)),  url("../images/account-page-bg.png"); */
  background-image: url("../images/account-page-bg.png");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  border: 0;
  margin-bottom: 1rem;
  padding-top: 50px;
}

.friends h3 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 400;
  color: #a8d5fa;
}

.acc-container h1 {
  font-family: 'Fredoka One', cursive;
  color:rgb(94, 21, 101);
}


