<!-- nav bar with Timeline and Logout -->
<div>
    <h1>My Account</h1>
    <div class="post">
    <div class="post-header"> 
        <img class="profile_picture" src="{{session.user.photo_link}}" alt="profile_picture">
        {{session.user.name}}
    </div>
</div>

