<div>
    <h1>My Account</h1>
    <div class="post">
    <div class="post-header"> 

        <!-- If we use /image/filename.png it works for files on thr 
        database but not image links, so we need to make the default image a file stored in the database aswell -->
        <img class="profile_picture" src="/images/{{session.user.photo_link}}" alt="profile_picture">
        <!-- make form to upload photo -->
        <!-- /users/account/image -->
        <form action="/users/account/image" method="POST" enctype="multipart/form-data">
            <div>
                <input id="image-selector" type="file" name="image" 
                    value="Post" accept=".png, .jpeg, .jpg, .gif">
                <label for="image-selector"></label>
                <button class="pink-button" id="submit" type="submit" style="display:none">Submit</button>
            </div>
        </form>
    </div>
    {{session.user.name}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>                
    $("#image-selector").on("change", function(){
        $("#submit").show();
    })
</script>

